



.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */

/* Page Loader */

@keyframes loaderAnim {
	to {
		opacity: 0.8;
		transform: scale3d(0.25,0.25,1);
	}
}

/* Header */

#scene.clickable{
	cursor: pointer;
}

/* Demo themes */
.demo-2 {
	--background-color: #fff;
	--text-color: #8389a6;
	--link-color: #1679d1;
	--link-hover-color: #6a22ba;
}

@media screen and (max-width: 60em) {
	.codrops-header {
		flex-direction: column;
		align-items: flex-start;
		font-size: 0.85em;
	}
	.codrops-links {
		margin: 0 0 1em 0;
	}
	.demos {
		width: 100%;
		margin: 1em 0 0;
	}
}


.backk{

	position: absolute;

}