#myCanvas
{
border: solid 2px black;
cursor : url('rainbowpntbrsh.cur'), auto;
}
#outer-box
{
 display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;

}

.brusharea{
padding : 2%;
background-color: rgb(204, 243, 243);
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
border: 2px #030303;
z-index: 100;


}

.colorarea{


  background-color: rgb(204, 243, 243);
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
border: 10px #030303;
z-index: 100;

}

.hedder{
  font-family: 'Sofia';font-size: 60px;
  border : solid 2px 	#4B0082;
  color : 	#4B0082;
  text-align : center;
  z-index: 100;
  background-color: rgb(204, 243, 243);


}

